<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="google-signin-client_id" content="807165949693-ultl81gpi802ueod7gbhlnkhhmimftof.apps.googleusercontent.com">
    <script src="https://www.gstatic.com/firebasejs/5.9.4/firebase.js"></script>
    <!-- script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<API-KEY>&callback=initMap">
    </script> -->
    <title>LookingBus by Tarang Dave</title>
</head>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&autoLogAppEvents=1&version=v3.2&appId=1021789681544064"></script>
    <div class="login-page">
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="username" name="username" id="username" required/>
                <input type="password" placeholder="password" name="password" id="password" required/>
                <button onclick="signupUser(event);">create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
            <form class="login-form">
                <input type="text" placeholder="username" name="loginUsername" id="loginUsername"/>
                <input type="password" placeholder="password" name="loginPassword" id="loginPassword"/>
                <button onclick="loginUser(event);">login</button>
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                    <div onclick="fbLogin();"><img src="https://i.stack.imgur.com/ZW4QC.png"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });

    var clientid = "807165949693-ultl81gpi802ueod7gbhlnkhhmimftof.apps.googleusercontent.com"
    var clientSec = "HzplPtVfKVT0aBBPaKduHRsi"

    var signupUsername;
    var signupPassword;

    var loginUsername;
    var loginPassword;

    function signupUser(e){
        e.preventDefault();
        signupUsername = $("#username").val()
        signupPassword = $("#password").val()

        $.ajax({ 
             type: "POST",
             url: "/signup",
             data: {username: signupUsername, password: signupPassword},
             success: function(data){  
                console.log(data);
                window.location.replace("/admin");
             }
         });
    }

    function loginUser(e){
        e.preventDefault();
        loginUsername = $("#loginUsername").val();
        loginPassword = $("#loginPassword").val();

        $.ajax({ 
             type: "POST",
             url: "/login",
             data: {username: loginUsername, password: loginPassword},
             success: function(data){  
                data = JSON.parse(data)
                if (data.status == "success"){
                    window.location.replace("/admin");
                }
             }
         });
    }

    var config = {
        apiKey: "AIzaSyBcTW0gFNsGfU91lIb_7WCX1FPjLQyBnIA",
        authDomain: "lookingbus-237103.firebaseapp.com",
        databaseURL: "https://lookingbus-237103.firebaseio.com",
        projectId: "lookingbus-237103",
        storageBucket: "lookingbus-237103.appspot.com",
        messagingSenderId: "807165949693"
      };
    firebase.initializeApp(config);

    var rootRef = firebase.database().ref().child('users');

    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      pushToFirebase(profile.getEmail());
      if (profile){
        window.location.replace("/admin");
      }
    }


    // This is called with the results from from FB.getLoginStatus().
  // Facebook login with JavaScript SDK
function fbLogin() {
    FB.login(function (response) {
        if (response.authResponse) {
            // Get and display the user profile data
            getFbUserData();
        } else {
            document.getElementById('status').innerHTML = 'User cancelled login or did not fully authorize.';
        }
    }, {scope: 'email'});
}

function pushToFirebase(username) {
    rootRef.push().set({

        username:username,
        password: ""
    });
}

// Fetch the user profile data from facebook
function getFbUserData(){
    FB.api('/me', {locale: 'en_US', fields: 'id,first_name,last_name,email,link,gender,locale,picture'},
    function (response) {
        console.log(response)
        pushToFirebase(response.email);
        window.location.replace("/admin");
    });
}

  

    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1021789681544064',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v3.1' // The Graph API version to use for the call
    });

    // Now that we've initialized the JavaScript SDK, we call 
    // FB.getLoginStatus().  This function gets the state of the
    // person visiting this page and can return one of three states to
    // the callback you provide.  They can be:
    //
    // 1. Logged into your app ('connected')
    // 2. Logged into Facebook, but not your app ('not_authorized')
    // 3. Not logged into Facebook and can't tell if they are logged into
    //    your app or not.
    //
    // These three cases are handled in the callback function.

    FB.getLoginStatus(function(response) {
        console.log(response)
        if (response.status == "connected"){
            window.location.replace("/admin");
        }
    });

  };

  

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    // console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
    //   document.getElementById('status').innerHTML =
    //     'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</html>